/* CLIENTES */

.texto-invalido
  color red

.formularioContendor
  display flex
  justify-content center

#notificacion
  color alpha(red,0.6)
  font-size 12px
  margin-top -14px
  margin-left 40px
  tra(all .3s)
  height 12px

input:-webkit-autofill
  white !important
				
/* CLIENTES FINAL */