@media screen and (max-width 600px)

	.logo
		width 60px

	.footerEncabezado
		flex-direction column

	.footerBarra
		flex-direction column

		& .terminosContenedor
			justify-content center

		& .footerSocialsContenedor
			flex-direction row
			justify-content center

			