/* PIE */

footer
  width 100%
  background-color negro2

.footerEncabezado
  display flex

  & .footerSecciones
    width 100%
    padding 10px
    text-align right

    & h5
      color lighten(#333,10%)

    ul li
      color alpha(#fff,0.8)
      font-weight 200

    & ul li a
      color alpha(#fff,0.8)
      font-weight 200

.footerBarra
  display flex
  color #666

  & div
    width 100%

    & a
      padding 10px
      color #666

  & .terminosContenedor
    height 50px
    width 100%
    display flex

    & .terminos
      width 130px
      line-height 50px

  & .footerSocialsContenedor
    height 50px
    width 100%
    display flex
    flex-direction row-reverse

    & .footerSocials
      width 100px
      line-height 50px

.divisor
  width 1px
  height 145px
  background-color #333
  margin 15px
		
/* FIN PIE */